<h1>Bank Account History: Past <%= @number %> day(s)</h1>
<%= render '/shared/student_actions', :student_actions => @student_actions, :student => current_student, :path => students_bank_account_path %>
