<%if current_student%>
<h1>Welcome, <%= current_user.first_name %>!</h1>


  </ul>
  <div class="pure-g-r">
    <div class="pure-u-1-2 s-panel-classes">
      <%= render 'shared/class_list' %>
    </div>
    <div class="pure-u-1-2">
      <p>Student's Messages Will Go Here</p>
    </div>
  </div>

  <div class="pure-g-r">
    <div class="pure-u-1-2">
    </div>
    <div class="pure-u-1-2">
      <%= render '/shared/inspiration' %>
    </div>
  </div>
</div>

<%end%>
