<div class="button-container">
	<ul><% if current_teacher? %>
		<% current_teacher.courses.each do |course| %>
		<li><%= link_to "#{course.subject.name}, per. #{course.period}", teachers_course_path(course) , :class => "pure-button chalk-dark"%> 
			<% end %>
			<%end%>
		</ul>
		<ul><% if current_student? %>
			<% current_student.courses.each do |course| %>
			<li><%= link_to "#{course.subject.name}, per. #{course.period}", students_course_path(course) , :class => "pure-button chalk-dark"%>
				<% end %>
				<%end%>
			</ul>
		</div>
