<div>
  <h2>Please fill in your contact information below. You will create your username and password on the next page.</h2>
  <%= render 'new_parent_profile_form' %>
</div>
<div>
  <h2>Create your SWOTBOT account:</h2>
  <%= render 'new_user_form' %>
</div>
