<div class="live-view-container">
  <div class="grid-container">
    <div class="icon-container">
      <ul id="student-icon">
        <li class="student-icon" id="student_id"><div class="initials">Ea</div><div class="full-name">Eric Allen</div></li>
        <li class="student-icon" id="student_id"><div class="initials">Ad</div><div class="full-name">Allen Dayag</div></li>
        <li class="student-icon" id="student_id"><div class="initials">Jm</div><div class="full-name">Jake Myers</div></li>
        <li class="student-icon" id="student_id"><div class="initials">Rw</div><div class="full-name">Rachel Warbelow</div></li>
        <li class="student-icon" id="student_id">Ee</li>
        <li class="student-icon" id="student_id">Ff</li>

        <li class="student-icon" id="student_id">Gg</li>
        <li class="student-icon" id="student_id">Hh</li>
        <li class="student-icon" id="student_id">Ii</li>
        <li class="student-icon" id="student_id">Jj</li>
        <li class="student-icon" id="student_id">Kk</li>
        <li class="student-icon" id="student_id">Ll</li>

        <li class="student-icon" id="student_id">Mm</li>
        <li class="student-icon" id="student_id">Aa</li>
        <li class="student-icon" id="student_id">Bb</li>
        <li class="student-icon" id="student_id">Cc</li>
        <li class="student-icon" id="student_id">Dd</li>
        <li class="student-icon" id="student_id">Ee</li>

        <li class="student-icon" id="student_id">Ff</li>
        <li class="student-icon" id="student_id">Gg</li>
        <li class="student-icon" id="student_id">Hh</li>
        <li class="student-icon" id="student_id">Ii</li>
        <li class="student-icon" id="student_id">Jj</li>
        <li class="student-icon" id="student_id">Kk</li>

        <li class="student-icon" id="student_id">Ll</li>
        <li class="student-icon" id="student_id">Mm</li>
        <li class="student-icon" id="student_id">Hh</li>
        <li class="student-icon" id="student_id">Ii</li>
        <li class="student-icon" id="student_id">Jj</li>
        <li class="student-icon" id="student_id">Kk</li>

        <li class="student-icon" id="student_id">Ll</li>
        <li class="student-icon" id="student_id">Mm</li>
        <li class="student-icon" id="student_id">Hh</li>
        <li class="student-icon" id="student_id">Ii</li>
        <li class="student-icon" id="student_id">Jj</li>
        <li class="student-icon" id="student_id">Kk</li>
      </ul>
    </div>
    <div class="submit-button-container">
      <ul>
        <div class="green-list">
          <li><button class="green submit-button other-button" id="participation">P</button></li>
          <li><button class="green submit-button other-button" id="high-quality">HQ</button></li>
          <li><button class="green submit-button other-button" id="resist-disraction">RD</button></li>
        </div>

        <div class="red-list">
          <li><button class="red submit-button other-button" id="distraction">D</button></li>
          <li><button class="red submit-button other-button" id="baby-attack">BA</button></li>
          <li><button class="red submit-button other-button" id="sloppy-incomplete">SI</button></li>

        </div>
        <li><button class="other-button" id="other">O</button></li>
      </ul>
    </div>
  </div>
  <div class="other-function-container center">
    <div class="positives">
      <ul>
        <li class="other-function pure-button" id="other-thing-">Respect To Others</li>
        <li class="other-function pure-button" id="other-thing-2">Perseverance</li>
        <li class="other-function pure-button" id="other-thing-3">Problem Solving</li>
        <li class="other-function pure-button" id="other-thing-4">Teamwork</li>
        <li class="other-function pure-button" id="other-thing-5">Leadership</li>
        <li class="other-function pure-button" id="other-thing-6">Integrity</li>
        <li class="other-function pure-button" id="other-thing-7">Helping Others</li>
        <li class="other-function pure-button" id="other-thing-8">Working Independently</li>
      </ul>
    </div>
    <div class="negatives">
      <ul>
        <li class="other-function pure-button" id="other-thing-">Calling Out</li>
        <li class="other-function pure-button" id="other-thing-2">Side Conversations</li>
        <li class="other-function pure-button" id="other-thing-3">Laughing at Others' Mistakes</li>
        <li class="other-function pure-button" id="other-thing-4">Sloppy SLANT</li>
        <li class="other-function pure-button" id="other-thing-5">Not Participating</li>
        <li class="other-function pure-button" id="other-thing-6">Ignoring Instructions</li>
        <li class="other-function pure-button" id="other-thing-7">Incomplete Classwork</li>
        <li class="other-function pure-button" id="other-thing-8">Disrespecting Others</li>
      </ul>
    </div>
  </div>
</div>
