<h2>This is a Guardian</h2>

<%= @guardian_profile.first_name %>
<%= @guardian_profile.last_name %>

<h3>Here are all the Students for this guardian</h3>
<ul>
<% @guardian_profile.student_profiles.each do |student| %>
  <li><%= [student.first_name, student.last_name].join(' ') %></li>
</ul>
<% end %>

<%= link_to "Edit", edit_guardian_profile_path(@guardian_profile) %>
