<%= render 'student_grid' %>
<div class="attendance-button-container">  
  <button id="submit" class="btn btn-block btn-large">Submit</button>
  <%= link_to "Back", teachers_course_liveclass_path, :class => "btn btn-block btn-large" %>
</div>