<%= render 'student_grid' %>

<div class="submit-button-container">
  <ul>
    <li><button class="btn btn-block btn-large other-button" id="attendance">Attendance</button></li>
    <li><button class="btn btn-block btn-large other-button" id="assignments">Assignments</button></li>
    <li><button class="btn btn-block btn-large other-button" id="other">Other Actions</button></li>
    
    <div class="green-list">
      <li><button class="btn btn-large btn-block btn-info submit-button" id="high-quality">High-Quality</button></li>
      <li><button class="btn btn-large btn-block btn-info submit-button" id="participation">Participation</button></li>
      <li><button class="btn btn-large btn-block btn-info submit-button" id="resisting-disractions">Resist Distraction</button></li>
    </div>

    <div class="red-list">
      <li><button class="btn btn-large btn-block btn-danger red submit-button" id="baby-attack">Baby-Attack</button></li>
      <li><button class="btn btn-large btn-block btn-danger red submit-button" id="causing-distractions">Causing Distraction</button></li>
      <li><button class="btn btn-large btn-block btn-danger red submit-button" id="sloppy-work">Sloppy Work</button></li>
    </div>
  </ul>
</div>