<%= render 'student_grid' %>

<div class="submit-button-container">
  <ul>
    <li><button class="other-button" id="attendance">A</button></li>
    <li><button class="other-button" id="other">O</button></li>
    
    <div class="green-list">
      <li><button class="btn btn-large btn-block btn-info submit-button" id="high-quality">HQ</button></li>
      <li><button class="btn btn-large btn-block btn-info submit-button" id="participation">P</button></li>
      <li><button class="btn btn-large btn-block btn-info submit-button" id="resisting-disractions">RD</button></li>
    </div>

    <div class="red-list">
      <li><button class="red submit-button" id="baby-attack">BA</button></li>
      <li><button class="red submit-button" id="causing-distractions">D</button></li>
      <li><button class="red submit-button" id="sloppy-work">SW</button></li>
    </div>
  </ul>
</div>