<%= render 'student_grid' %>

<div class="submit-button-container">
  <ul>
    <li><button class="other-button" id="attendance">A</button></li>
    <li><button class="other-button" id="other">O</button></li>
    
    <div class="green-list">
      <li><button class="green submit-button" id="participation">P</button></li>
      <li><button class="green submit-button" id="high-quality">HQ</button></li>
      <li><button class="green submit-button" id="resist-disraction">RD</button></li>
    </div>

    <div class="red-list">
      <li><button class="red submit-button" id="distraction">D</button></li>
      <li><button class="red submit-button" id="baby-attack">BA</button></li>
      <li><button class="red submit-button" id="sloppy-incomplete">SI</button></li>
    </div>
  </ul>
</div>