
    <div class="positives">
      <ul>
        <li class="btn btn-large btn-block btn-info other-function" id="helping-others">Helping Others</li>
        <li class="btn btn-large btn-block btn-info other-function" id="integrity">Integrity</li>
        <li class="btn btn-large btn-block btn-info other-function" id="leadership">Leadership</li>
        <li class="btn btn-large btn-block btn-info other-function" id="perseverance">Perseverance</li>
        <li class="btn btn-large btn-block btn-info other-function" id="problem-solving">Problem-Solving</li>
        <li class="btn btn-large btn-block btn-info other-function" id="respect-to-others">Respect To Others</li>
        <li class="btn btn-large btn-block btn-info other-function" id="teamwork">Teamwork</li>
        <li class="btn btn-large btn-block btn-info other-function" id="working-independently">Working Independently</li>
      </ul>
    </div>
    
    <div class="negatives">
      <ul>
        <li class="btn btn-large btn-block btn-danger other-function" id="calling-out">Calling Out</li>
        <li class="btn btn-large btn-block btn-danger other-function" id="disrespecting-others">Disrespecting Others</li>
        <li class="btn btn-large btn-block btn-danger other-function" id="ignoring-instructions">Ignoring Instructions</li>
        <li class="btn btn-large btn-block btn-danger other-function" id="laughing-at-others-mistakes">Laughing at Others' Mistakes</li>
        <li class="btn btn-large btn-block btn-danger other-function" id="not-participating">Not Participating</li>
        <li class="btn btn-large btn-block btn-danger other-function" id="side-conversations">Side Conversation</li>
        <li class="btn btn-large btn-block btn-danger other-function" id="sloppy-slant">Sloppy SLANT</li>
        <li class="btn btn-large btn-block btn-danger other-function" id="swearing">Swearing</li>        
      </ul>
    </div>
    <div class="selected-students">
        <%= render 'student_grid' %>
    </div>
