
    <div class="positives">
      <ul>
        <li class="submit-button other-function" id="other-thing-">Respect To Others</li>
        <li class="submit-button other-function" id="other-thing-2">Perseverance</li>
        <li class="submit-button other-function" id="other-thing-3">Problem Solving</li>
        <li class="submit-button other-function" id="other-thing-4">Teamwork</li>
        <li class="submit-button other-function" id="other-thing-5">Leadership</li>
        <li class="submit-button other-function" id="other-thing-6">Integrity</li>
        <li class="submit-button other-function" id="other-thing-7">Helping Others</li>
        <li class="submit-button other-function" id="other-thing-8">Working Independently</li>
      </ul>
    </div>
    <div class="negatives">
      <ul>
        <li class="submit-button other-function" id="other-thing-">Calling Out</li>
        <li class="submit-button other-function" id="other-thing-2">Side Conversations</li>
        <li class="submit-button other-function" id="other-thing-3">Laughing at Others' Mistakes</li>
        <li class="submit-button other-function" id="other-thing-4">Sloppy SLANT</li>
        <li class="submit-button other-function" id="other-thing-5">Not Participating</li>
        <li class="submit-button other-function" id="other-thing-6">Ignoring Instructions</li>
        <li class="submit-button other-function" id="other-thing-7">Incomplete Classwork</li>
        <li class="submit-button other-function" id="other-thing-8">Disrespecting Others</li>
      </ul>
    </div>
