<div class="live-view-container">
  <div id="course-id">
    <data id="<%= @course.id %>"></data>
  </div>

  <div class="behavior-container">
    <%= render 'behavior' %>
  </div>
  
  <div class="other-function-container center">
    <%= render 'other_actions' %>
  </div>
  
  <div class="attendance-container">
    <%= render 'attendance' %>
  </div>
</div>
