<div class="guardian-dashboard-container">
  <div class="guardian-index-top">
    <h2>Welcome, <%= current_guardian.first_name %> <%= current_guardian.last_name %>!</h2>

    <h5>Your registered students</h5>
      <ul>
        <% current_guardian.students.each do |student| %>
          <li><%= link_to [student.first_name, student.last_name].join(' '), guardians_student_path(student)%></li>
        <% end %>
      </ul>
  </div>
    <br>
  <div >
    <%= render 'shared/announcements' %>
  </div>
</div>
