.class-create-form-container, 
.class-index-container, 
.class-edit-form-container {
  width: 50%;
  /*float: left;*/
  /*margin-left: 350px;*/
  /*margin-top: 50px;*/
}

.class-create-form-container .btn,
.class-edit-form-container .btn {
  margin-top: 20px;
  width: 160px;
}

.class-create-form-container .dk_container,
.class-edit-form-container .dk_container {
  margin-right: 20px;
}

.teacher-course-show-container {
  margin-top: 50px;
  margin-bottom: 50px;  
}

.teacher-course-show-nav {
  margin-bottom: 50px;
}

.teacher-course-show-nav a {
  margin-right: 20px;
  font-size: 1.4em;
}

.add-assignment-link {
  font-size: 1.3em;
  margin-top: 20px;
}

input.datepicker {
  width: 90px;
  margin-right: 10px;
  color: black;
}

.form-inline .btn {
  margin-right: 5px;
  margin-left: 5px;
}

.form-inline label {
  margin-left: 5px;
}
