.rotate_text
   {
      -moz-transform:rotate(-90deg); 
      -moz-transform-origin: top left;
      -webkit-transform: rotate(-90deg);
      -webkit-transform-origin: top left;
      -o-transform: rotate(-90deg);
      -o-transform-origin:  top left;
      height: 0px;
      width: 43px;
   }

.rotated_cell
   {
      padding-top: 40px;
      height:30px;
   }

.gradebook 
   {
      font-size: 8px;
   }

.cell 
   {
      border-bottom: 1px solid black;
      border-left: 1px solid black;
   }
