.guardian-dashboard-container {
  width: 70%;
  /*float: left;*/
  /*margin-left: 300px;*/
  /*margin-top: 50px;*/
}

.guardian-index-top {
  width: 700px;
}

.guardian-dashboard-announcements {
  float: right;
  margin-top: 50px;
}

.add-student-container {
  float: left;
}

.student-list {
  margin-top: 50px;
  float: left;
  margin-bottom: 60px;
}

.dk_container {
  margin-bottom: 40px;
}

.add-student-h {
  margin-bottom: 20px;
}

.guardian-profile-container {
  margin-top: 50px;
  font-size: 1.3em;
}

.guardian-student-action-container {
  margin-top: 50px;
}

.guardian-student-action-container tr{
  width: 600px;
}

.guardian-student-action-container td{
  margin-right: 10px;
}
