/*header {
  height: 50px;
  margin-top: 0px;
  position: static;
}

header a {
  font-size: 1.5em;
  text-decoration: none;

}

header a:visited {
  color: lightgray;
}

header a:hover {
  color: lightgray;
}*/