.selectors {
  width: 100px;
  height: 40px;
}
.select-all, .deselect-all {
  float: left;
  width: 40px !important;
  height: 40px !important;
  font-size: 1.8em;
  text-align: center;
  background-color: #ECF0F1;
  border: 1px solid #ECF0F1;
  border-radius: 8px;
}

.select-all {
  margin-right: 20px;
}

.live-view-container {
  display: inline-block;
  margin-left: -80px;
}

.student-icon {
  background-color: #ECF0F1;
  cursor: pointer;
  width: 52px;
  height: 52px;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
  float: left;
  border-radius: 6px;
}

.active, .on_time {
  width: 52px;
  height: 52px;
  padding: 10px;
  background-color: #2ECC71;
  opacity: 0.75;
}

.tardy {
  width: 52px;
  height: 52px;
  padding: 10px;
  background-color: #F1C40F;
  opacity: 0.75;
}

.absent {
  width: 52px;
  height: 52px;
  padding: 10px;
  background-color: #E74C3C;
  opacity: 0.75;
}

.missing-assignment {
  width: 52px;
  height: 52px;
  padding: 10px;
  background-color: #F1C40F;
  opacity: 0.75;
}

.icon-container {
  width: 550px;
  float: left;
  margin-top: 40px;
  margin-right: 10px;
}

.submit-button-container, .attendance-button-container, .assignments-due{
  width: 180px;
  float: right;
  font-size: 2.4em;
  margin-top: 20px;
}

.initials {
  font-size: 2.5em;
  text-align: center;
  font-weight: bold;
}

.full-name {
  margin-top: 8px;
  font-size: 0.8em;
  text-align: center;
  line-height: 1.1em;
}

.red-list {
  margin-top: 13px;
}

.green-list {
  margin-top: 13px;
}

.other-function-container {
  width: 800px;
  margin-top: 70px;
  margin-left: 50px;
  display: inline-block;
}

.grid-container {
  position: relative;
  float:left;
  margin-top: 30px;
}

.other-function {
  width: 40%;
  height: 50px;
  margin-top: 20px;
}

.positives, .negatives {
  float: left;
  width: 300px;
}

.positives {
  margin-right: 40px;
}

.live-view-container .btn {
  margin-top: 5px;
  height: 54px;
  width: 100%;
}

.back-button-assignments {
  margin-bottom: 30px;
  line-height: 30px;
}

.assignments-due .btn {
  margin-top: 8px;
  height: 54px;
  width: 100%;
}

.confirm-message {
  position: absolute;
  bottom: 18px;
  left: 10px;
  width: 90%;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 1.5em;
  padding: 10px;
  background-color: #2ECC71;
  opacity: 0.75;
  border: 1px solid #2ECC71;
  border-radius: 7px;
}


