.live-view-container {
  display: inline-block;
  margin-left: -130px;
}

.student-icon {
  background-color: #ECF0F1;
  cursor: pointer;
  width: 52px;
  height: 52px;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
  float: left;
  border-radius: 6px;
}

.active, .on_time {
  width: 52px;
  height: 52px;
  padding: 10px;
  background-color: #2ECC71;
  opacity: 0.75;
}

.tardy {
  width: 52px;
  height: 52px;
  padding: 10px;
  background-color: #F1C40F;
  opacity: 0.75;
}

.absent {
  width: 52px;
  height: 52px;
  padding: 10px;
  background-color: #E74C3C;
  opacity: 0.75;
}

.icon-container {
  width: 550px;
  float: left;
  margin-top: 20px;
}

.submit-button-container, .attendance-button-container{
  width: 180px;
  float: right;
  font-size: 2.4em;
}

.attendance-button-container .btn{
  margin-left: 30px;
}

.initials {
  font-size: 2.5em;
  text-align: center;
  font-weight: bold;
}

.full-name {
  margin-top: 8px;
  font-size: 0.8em;
  text-align: center;
  line-height: 1.1em;
}

.red-list {
  margin-top: 40px;
}

.green-list {
  margin-top: 40px;
}

.other-function-container {
  width: auto;
}

.grid-container {
  float:left;
}

.other-function {
  width: 40%;
  height: 50px;
  margin-top: 20px;
}

.positives, .negatives {
  float: left;
}

.live-view-container .btn {
  margin-top: 8px;
  height: 54px;
}
