
body {
  color: #eee;
}

a {
  color: #fff;
}


/*============FONTS==============*/

.chalk {
  font-family: 'Patrick Hand SC', cursive;
  color: #FFF;
}

.chalk-dark {
  font-family: 'Patrick Hand SC', cursive;
  color: darkgray;
}

/*============GLOBAL STYLES========*/

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.main-container {
  margin-left: auto;
  margin-right: auto;
  width: 94%;
}

header {
  height: 50px;
  margin-top: 0px;
  position: static;
}

header a {
  font-size: 1.5em;
  text-decoration: none;

}

header a:visited {

}

header a:hover {
  color: lightgray;
}

.float-me-left {
  float: left;
}
/*============PANEL GLOBAL=============*/
.panel-center {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.center {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

ul {
  list-style: none;
}

