.messages-container {
  margin-top: 50px;
}

.message-nav li{
  display: inline;
  margin-right: 20px;
  font-size: 1.2em;
}

.message-nav {
  margin-bottom: 20px;
}

.box-empty {
  color: gray;
  font-style: italic;
  margin-left: 20px;
}

.message-body {
  width: 600px;
  padding: 10px;
}

.message-timestamps {
  width: 400px;
  padding: 10px;
}

.reply-body, .new-message-body{
  width: 400px;
  height: 200px;
}