.nav {
  position: relative;
  margin-left: -36px;
  /*margin: 20px 0;*/
}
.nav ul {
  margin: 0;
  padding: 0;
}

.nav-title {
  color: transparent;
}
.nav li {
  margin: 0 5px 10px 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}
.nav a {
  padding: 3px 12px;
  text-decoration: none;
  font-size: 1.3em;
  line-height: 100%;
}
.nav a:hover {
  color: gray;
}
.nav .current a {
  background: #CCC;
  color: gray;
  border-radius: 5px;
}

/*ipad*/
@media screen and (max-width: 1024px) {
  .nav {
    position: relative;
    min-height: 40px;
  } 

  .nav-title {
    color: #A9A9A9;
  }

    /* center nav */
  .nav.center ul {
    text-align: center;
  }

  .nav ul {
    width: 1024px;
    padding: 5px 0;
    position: absolute;
    top: 0;
    left: 0;
    border: solid 1px #aaa;
    background-color: black;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,.3);
    margin-top: 0px;
    z-index: 2;
  }

  .nav li {
    display: none; /* hide all <li> items */
    margin: 0;

  }
  .nav .current {
    display: block; /* show only current <li> item */
    text-align: center;
  }
  .nav a {
    display: block;
    padding: 5px 5px 5px 32px;
    text-align: center;
  }
  .nav .current a {
    background: none;
    color: darkgray;
  }

  /* on nav hover */
  .nav ul:hover {
    background-image: none;
  /*  -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);*/
  }
  .nav ul:hover li {
    display: block;
    margin: 0 0 5px;
  }
  .nav ul:hover .current {
    background: url(asset_path, "Untitled.png") no-repeat 10px 7px;
  }

  /* right nav */
  .nav.right ul {
    left: auto;
    right: 0;
  }

  /* center nav */
  .nav.center ul {
    left: 50%;
    margin-left: -90px;
  }

  .rotate {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
  }
}