.nav {
  height: 568px;
  background-color: #eee;
  float: left;
  padding-right: 51px;
  width: 180px;
}

.nav li {
  margin-right: 20px;
}

.nav li a{
  width: 100%;
  height: 50px;
  line-height: 50px;
}

.divider {
  width: 100%;
  border-top: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
}


.list-header:hover {
  background-color: #d4d4d4;
}

