
.nav {
  padding-top: 30px;
  width: 140px;
  height: 100%;
  background-color: #eee;
  float: left;
  padding-right: 50px;
  position: fixed;
  padding-bottom: 100%;
}

.current {
  background-color: #FFF;
}

.nav li {
  margin-right: 20px;
  width: 99%;
}

.nav li a{
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: right;
}

.list-header:hover {
  background-color: #d4d4d4;
}

body#create-class a#create-class {
color: lightgray;
background: #fff;
}

select {
  width: 160px;
}
