.inspiration {
	background-color: #45CCAA;
	color: white;
	border-radius: 5px;
	padding: 5px;
	margin-right: 100px;
	margin-top: 30px;
	text-align: center;
	float: right;
	width: 350px;
	height: 120px;
	line-height: 30px;
	vertical-align: middle;
}

.bank-balance {
	margin-top: 0px;
	border-radius: 5px;
	font-size: 56px;
	width: 170px;
	padding: 10px;
	font-weight: bold;
	background-color: #4599FF;
	color: white;
	text-align: center;
	left:3px;
	margin-bottom: 30px;
	margin-right: 5px;
}

.bank-balance-teacher-view {
	border-radius: 5px;
	font-size: 56px;
	width: 170px;
	padding: 10px;
	font-weight: bold;
	height: 90px;
	background-color: #4599FF;
	color: white;
	text-align: center;
	margin-bottom: 10px;
	margin-right: 5px;
	float: right;
	margin-right: 5%;
}
