.t-panel-nav {
  background-color: white;
}

.t-panel-classes a{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-top: 4px;
  margin-bottom: 4px;
  height: 50px;
  font-size: 1.5em;
  padding-top: 20px;
}
