.class-icon-container {
  margin-left: 250px;

}
.class-icon-container .btn {
  width: 70%;
  float: left;
  margin-right: 20px;
  margin-top: 20px;
  line-height: 44px;
}

.page-specific-links {
  
}

