.form-container {
  background-color: #CCC;
  width: auto;
  padding: 33px;
  margin-bottom: 100px;

  border: 1px solid gray;
  -webkit-border-radius: 9px;
  border-radius: 9px;

  -webkit-box-shadow: inset 2px 2px 3px 3px #FFF;
  box-shadow: inset 2px 2px 3px 3px #FFF;
}

.form-header {
  margin-top: 50px;
  font-size: 3.2em;
}

.next-button {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}

.pure-menu li {
  margin-top: 2px;
  margin-bottom: 2px;
}

.button-container ul{
  padding: 0px;
}
