<% if flash[:success] %>
<%= flash[:success] %>
<% end %>

<div class="class-list">
  <%= render '/shared/class_list' %>
</div>

<div class="page-specific-links">
  <%= link_to "All Enrolled Students", teachers_student_profiles_path %>

</div>
